    <h1>Trade animals for {{ farm.name }}</h1>
    {% if error_message %}
        <strong>{{ error_message }}</strong>
    {% endif %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <table>
            {% for field in form %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>
                <td>meeer peop!</td>
            <tr>
            {% endfor %}
            
            </table>
            <input type="submit" value="Confirm"/>
        </form>
    </div>
