{% extends "farmergame/base_farmergame.html" %}
{% block title %}Farm view: {{ farm.name }}{% endblock %}
{% load static %}
{% block content %}
    <h1>{{ farm.name }}</h1>
    Money: {{ farm.capital }}<br>
    <a href="{% url 'farmergame:trade_animals' farm.pk %}">Trade animals!</a>
    
    <ul>
        {% for ownanimal in farm.ownanimal_set.all %}
            <li>{{ownanimal.nr_owned}} {{ ownanimal.animal.species }}s of breed {{ ownanimal.animal.breed }}</li>
        {% empty %}
            <li>No animals available.</li>
        {% endfor %}
    </ul>
    
    <h2 id='all_data'> hello {{ farm.ownanimal_set.all }} </h2>
{% endblock content %}