<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" , type="text/css" href="{% static 'farmergame/style.css' %}">
    <script src="{% static 'farmergame/farm_manager.js' %}"></script>
    <title>{% block title %}The Farmer game{% endblock %}</title>
</head>

<body>
    <!-- The sidebar -->
    <div class="sidebar">
        {% block sidebar %}
        <a class="active" href="#home">Overview</a>
        <a href="javascript:buy_animals()">buy animals</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        more sidebar stuff!
        {% endblock sidebar %}
    </div>

    <!-- Page content -->
    <div class="content">
        {% block header %}
        <h1 id='demo'>Default stuff here</h1>
        {% endblock %}
        {% block content %}
        <h1>Welcome to the farmer game!</h1>
        <p>more stuff will be implemented</p>
        <a href="{% url 'farmergame:index' %}">Go to the farm index</a>
        {% endblock content %}
    </div>
</body>

</html>